<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="utf-8" />

<title>海图克 | 关于我们</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<meta content="智能遥控，手机遥控" name="description" />

<meta content="hejun" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link th:href="@{/media/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/media/css/bootstrap-responsive.min.css}"
	rel="stylesheet" type="text/css" />

<link th:href="@{/media/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/media/css/style-responsive.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/media/css/default.css}" rel="stylesheet"
	type="text/css" id="style_color" />

<link th:href="@{/media/css/h-style.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/media/css/style-metro.css}" rel="stylesheet"
	type="text/css" />
	
<link th:href="@{/media/css/uniform.default.css}" rel="stylesheet"
	type="text/css" />

<!-- END GLOBAL MANDATORY STYLES -->

<link th:href="@{/media/css/promo.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/media/css/animate.css}" rel="stylesheet"
	type="text/css" />

<link rel="shortcut icon" th:href="@{/media/image/favicon.ico}" />

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed page-full-width">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top"
		style="background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.15);">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div>

			<div class="container-fluid" style="max-width: 1000px; margin: auto;">

				<!-- BEGIN LOGO -->

				<a class="brand" th:href="@{/}" style="padding: 0;"> <img
					th:src="@{/images/logo.jpg}" alt="logo" style="height: 40px;" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

				<div class="navbar hor-menu hidden-phone hidden-tablet">

					<div class="navbar-inner"
						style="background-color: #fff !important;">

						<ul class="nav">

							<li><a th:href="@{/index.html}"> 首页 </a></li>
							<li><a th:href="@{/irbox.html}"> 智能遥控 </a></li>
							<li><a th:href="@{/building.html}"> 智能改造 </a></li>
							<li><a th:href="@{/cases.html}"> 工程案例 </a></li>
							<li class="active"><a href="#"> 关于我们 </a></li>
							<li><a th:href="@{/app.html}"> 云智家｜下载 </a></li>

						</ul>

					</div>

				</div>

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed"
					data-toggle="collapse" data-target=".nav-collapse"> <img
					th:src="@{/media/image/menu-toggler.png}" alt="" />

				</a>

				<!-- END RESPONSIVE MENU TOGGLER -->

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN EMPTY PAGE SIDEBAR -->



		<!-- END EMPTY PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
			<div>
				<div class="row-fluid" style="max-width: 1000px; margin: auto;padding-left:120px;">
					<div class="span3 " style="padding-top: 120px; color: #333">

						<div class="page-sidebar nav-collapse collapse" style="background-color: #fff;border: 1px solid #ddd;">

							<ul class="page-sidebar-menu">

								<li class="active"><a class="active" th:href="@{/}">

										关于我们 </a></li>

								<li><a th:href="@{/contact.html}" >联系我们</a></li>
								
								<li><a th:href="@{/join.html}" >加入我们</a></li>
								
								<li><a th:href="@{/partner.html}" >合作伙伴</a></li>

							</ul>

						</div>

					</div>
					<div class="span9 margin-bottom-20 margin-top-20"
						style="padding-top: 60px;">

						<h1 style="font-size: 36px; color: black;text-indent:1em;">关于我们</h1>
						<br />

						<p style="font-size: 18px; line-height: 2em; color: #666;text-indent:2em;">
							广州海图克计算机技术有限公司是一家新设立的专业提供软件研发和技术服务的高科技企业。公司的核心竞争力是具有丰富软件开发和技术服务经验的技术团队，已与国内国防科技大学、中山大学等单位建立了深入的合作关系，并与国内外知名公司开展合作。 公司位于风景秀丽的广州大学城，是国家数字家庭应用示范产业基地的入园企业。公司秉承“创新、共享、热情”的发展理念，坚持以产品化、行业化带动技术研发，为客户提供优质、高效的解决方案。
							<br />
						</p>
						<p style="font-size: 18px; line-height: 2em; color: #666;text-indent:2em;">
							公司文化: 创新、共享、热情
						</p>
						<p style="font-size: 18px; line-height: 2em; color: #666;text-indent:2em;">
							公司愿景: 持续创业，立足行业，打造专业服务提供商
						</p>

					</div>
				</div>

			</div>
			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE CONTENT-->


				<!-- END PAGE CONTENT-->

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->

	<div class="footer"
		style="background: #ebebeb; border-top: 1px solid rgba(0, 0, 0, 0.15);">

		<div class="footer-inner" style="width: 100%;">

			<div class="row-fluid" style="padding-top:20px;padding-left:10px;padding-bottom: 10px;max-width: 1000px;margin: auto;">
				<div class="span4">

					<h4 style="color:#666;">广州海图克计算机技术有限公司</h4>
					<a target="_blank" href="http://shop112668798.taobao.com/index.htm"><img th:src="@{/images/taobao.png}" alt="" style="width:36px;"/></a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="http://weibo.com/u/5276959999"><img th:src="@{/images/weibo.png}" alt="" style="width:36px;"/></a>
					<br />
					<p style="line-height:2em;margin-top:1em;font-size:1.2em;">
						<b>联系电话：</b>020-31076961<br />
						<b>电子邮箱：</b>support@haituke.com<br />
						<b>地址：</b>广州大学城中二横路22号A913<br />
					</p>
				</div>
				<div class="span4" style="text-align: left">

							<h4 style="color:#666;">关于我们</h4>
							<p style="line-height:2em;margin-top:1em;font-size:1.2em;">
								<a th:href="@{/join.html}" style="color:grey !important">人才招聘</a><br />
								<a th:href="@{/contact.html}" style="color:grey !important">联系我们</a><br />
							</p>
						</div>
				<div class="span4" style="text-align: center">
					<div class="row-fluid">
						<div class="span6" style="text-align: center">
							<h4 style="color:#666;">关注海图克</h4>
							<img th:src="@{/images/weixin_qr.jpg}" alt="" style="width:100px;"/>
						</div>
						<div class="span6" style="text-align: center">
							<h4 style="color:#666;">下载云智家</h4>
							<img th:src="@{/images/qr.jpg}" alt="" style="width:100px;"/>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="footer-tools">

			<span class="go-top"> <i class="icon-angle-up"></i>

			</span>

		</div>
		<div style="clear: both;"></div>
		<p style="text-align: center; color: #999">
			2014 &copy; www.haituke.com | <a href="privacy.html">用户隐私政策</a>
		</p>
	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script th:src="@{/media/js/jquery-1.10.1.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/media/js/jquery-migrate-1.2.1.min.js}"
		type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script th:src="@{/media/js/jquery-ui-1.10.1.custom.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/media/js/bootstrap.min.js}" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->

	<script th:src="@{/media/js/jquery.slimscroll.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/media/js/jquery.blockui.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/media/js/jquery.cookie.min.js}"
		type="text/javascript"></script>

	<script th:src="@{/media/js/jquery.uniform.min.js}"
		type="text/javascript"></script>

	<!-- END CORE PLUGINS -->

	<script th:src="@{/media/js/app.js}"></script>

	<script>
		jQuery(document).ready(function() {

			App.init();

		});
	</script>

	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>