<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>许可协议</title>
    </head>
    <body>
        <h3 th:inline="text">“iEasyHome”软件产品使用许可协议</h3>

       <p>在接受本协议之前，请您仔细阅读本协议的全部内容。如果您对本协议的条款有疑问的，请通过广州海图克支持渠道进行询问，广州海图克将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解广州海图克对条款的解释，请不要进行后续操作。                                   <br />
<br />
第一条：立约背景<br />
为了规范用户(以下称“您”或“用户”)下载、安装及使用“iEasyHome”软件产品（以下简称“许可软件”）的各项行为，保障您的合法权益，特拟定本协议。<br />
<br />
第二条：签约主体<br />
本协议由广州海图克计算机技术有限公司（以下称“海图克”）与下载、安装、登录及使用 许可软件的用户签署。<br />
<br />
第三条：协议生效和适用范围<br />
3.1、本协议内容包括协议正文、《海图克服务协议》以及海图克针对许可软件已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等的法律效力。<br />
3.2、一旦您下载安装使用许可软件，即表示您同意接受本协议所有条款和条件的约束。如您不同意本协议条款和条件，请勿下载、安装或使用许可软件，并请销毁所有许可软件副本。一旦您使用了许可软件，即表示您已接受了以下所述的条款和条件。<br />
3.3、海图克有权根据需要不时修改本协议或各类规则，如本协议有任何变更，海图克将在网站上或在许可软件中以公示形式通知您，且无需征得您的事先同意。修改后的协议及规则一经公示即生效，成为本协议的一部分。如您继续登录或使用许可软件的，即视为您已阅读并接受修改后的协议。<br />
<br />
第四条：定义<br />
4.1、用户：指下载、安装、登录、使用或浏览许可软件的个人或组织。<br />
4.2、许可软件：指由海图克开发的，供您从 Apple Inc. (以下称“苹果公司”)的 App Store平台（以下称“下载平台”）下载，并仅限在 iPhone、iPod touch、iPad等苹果手持移动终端（以下称“苹果终端”）中安装、登录并使用的软件系统及产品。<br />
4.3、海图克服务：由海图克为您提供的服务及技术支持，您可以通过许可软件在苹果终端使用海图克服务。<br />
<br />
第五条：许可软件服务<br />
5.1、许可软件是海图克推出的一款智能家居产品使用软件软件。许可软件所具备的功能，包括但不限于利用直接拥有或运营的服务器，为用户提供信息网络存储空间；为用户提供智能家居产品使用记录、智能家居产品控制和配置功能等（软件功能随时可能因海图克的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供）。<br />
5.2、许可软件根据用户指令，提供信息网络存储空间及相关平台服务。用户利用许可软件上传“内容”，该“内容”的定义为通过前款所指许可软件的服务上传、粘贴或任何其他方式传送的视频、音频或其他任何形式的内容包括资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息或其他资料本身及相应链接。<br />
5.3、用户在此明确陈述并保证对所有上传到许可软件上的内容，拥有或取得了所有必要的权利并承担全部的法律责任，包括但不限于：有权或被合法授权使用或可合法授权许可软件使用所有与上传内容有关的所有专利、商标、商业秘密、版权、表演者权及其他私有权利。<br />
5.4、海图克并不担保所有上传内容能够通过许可软件服务或者任何互联网传播途径为其他用户所获取、浏览。海图克保留根据国家法律、法规的要求对上载、传播的节目进行不定时抽查的权利，并有权在不事先通知的情况下移除或断开链接违法、侵权的作品。此款的约定并不排除您对上传内容的版权担保，亦并非表明有责任及能力判断您上传作品的版权归属。海图克不对用户所发布信息的删除或储存失败承担责任，海图克有权判断用户的行为是否符合服务条款相关规定并依照该规定终止用户使用的权利。<br />
5.5、特此提醒您在使用服务时可能接触到令人不快、不适当或令人厌恶之内容，海图克将尽力消除或阻止上述有害信息/行为，但基于信息量庞大的原因，海图克不作任何类型的担保，对因此导致的直接、间接、偶然、特殊或后续的损害，不负责赔偿或补偿。但海图克有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停您使用许可软件服务的全部或部分，保存有关记录，并向有关机关报告。<br />
5.6、许可软件目前可能仅能提供部分地区的服务，主要是中国大陆地区，可能暂时无法提供其他地区的服务；另外，基于目前的技术时间、位置数据也可能并不十分准确。上述情况请您理解并谅解。<br />
<br />
第六条：授权范围<br />
6.1、您仅可在苹果终端中使用许可软件。未经海图克书面同意，您不得将许可软件安装在其他终端设备上，该等设备包括但不限于台式电脑、手提电脑、苹果终端外的手持移动终端、电视机及机顶盒等终端。<br />
6.2、除用户与海图克另有约定外，您同意许可软件的服务仅供您个人非商业性质的使用，不得对许可软件服务的任何部分或对其使用及获得进行复制、拷贝、出售或利用许可软件服务进行调查、广告或将许可软件服务用于其他任何商业目的，也不得对许可软件或者许可软件运行过程中释放在任何苹果终端中的数据及许可软件运行过程中苹果终端与服务器端的交互数据进行复制、更改、修改、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经授权的第三方工具/服务接入许可软件和相关系统。但海图克对特定服务另有使用指引或规则的除外。未经海图克书面同意，用户不得利用许可软件各项服务进行销售或其他商业用途。<br /> 
6.3、海图克有权在任何时候自行决定对许可软件及其相关功能进行变更、升级、修改或转移，并有权在许可软件系统中开发新的功能或其他服务。除非附有独立的协议，否则上述所有新的功能、软件服务的提供仍适用本协议。<br />
6.4、您需要凭您的账号和密码登录许可软件，海图克仅根据您的账号和密码确认使用许可软件者的身份。您应妥善保管您的账号和密码，并对其使用或遗失自行承担责任。如果您的账号和密码存在未获授权的使用，或者发生其他任何安全问题时，应立即通知海图克。海图克对因上述情形产生的后果不承担任何责任。<br />
6.5、许可软件由您自下载平台下载取得，您应遵守苹果公司对您使用许可软件方式与限制的约定，一旦苹果公司确认您违反该约定的，海图克有权终止对您的使用许可。<br />
6.6、海图克基于本协议许可而非向您销售许可软件，您仅可依照本协议约定使用许可软件，海图克保留未明示授予的一切权利。
<br />
第七条：使用规范<br />
7.1、您不得通过以下方式使用许可软件：<br />
7.1.1从事违法法律法规政策、破坏公序良俗、损害公共利益的行为；<br />
7.1.2对许可软件的相关信息或任何部分擅自出租、出借、复制、修改、链接、转载、汇编、发表、出版、再分发、反编译、反汇编、反向工程、分解拆卸、建立镜像站点，借助许可软件发展与之有关的衍生产品、作品、服务、插件、外挂、兼容、互联等；<br />
7.1.3通过非由海图克及其关联公司开发、授权或认可的第三方兼容软件、系统登录或使用许可软件，或针对许可软件使用非海图克及其关联公司开发、授权或认证的插件和外挂；<br />
7.1.4删除许可软件及其他副本上关于版权的信息、内容，修改、删除或避开许可软件中海图克为保护知识产权而设置的任何技术措施；<br />
7.1.5进行任何危害信息网络安全的行为，包括使用许可软件时以任何方式损坏或破坏许可软件或使其不能运行或超负荷或干扰第三方对许可软件的使用；未经允许进入他人计算机系统并删除、修改、增加存储信息；故意传播恶意程序或病毒以及其他破坏、干扰正常网络信息服务的行为；<br />
7.1.6通过修改或伪造许可软件运行中的指令、数据、数据包，增加、删减、变动许可软件的功能或运行效果，及/或将具有上述用途的软件通过信息网络向公众传播或者运营；<br />
7.1.7利用许可软件发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容，或从事欺诈、盗用他人账户、资金等违法犯罪活动；<br />
7.1.8其他以任何不合法的方式、为任何不合法的目的、或以任何与本协议不一致的方式使用许可软件。<br />
7.2、您了解并同意：<br />
7.2.1海图克有权对您是否涉嫌违反上述使用规范做出单方认定，并根据单方认定结果中止、终止对您的使用许可或采取其他限制措施，且无须征得您的同意或提前通知予您；<br />
7.2.2对于您使用许可软件时发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议的信息，海图克有权不经通知您即予以删除；<br />
7.2.3对于您涉嫌违反上述使用规范的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保海图克免于因此产生损失或增加费用；<br />
7.2.4如您涉嫌违反有关法律或者本协议之约定，使海图克遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿海图克因此造成的损失及（或）发生的费用，包括合理的律师费用、调查取证费用。<br />
<br />
第八条：第三方软件或服务<br />
8.1、许可软件可能使用或包含了由第三方提供的软件或服务（以下称“该等服务”），该等服务是为了向您提供便利而设置，是取得该第三方的合法授权的。本协议并不授予您使用该等服务的任何权利，也不对该等服务提供任何形式的保证。就第三方提供的地图服务而言，基于地图提供方的要求，海图克向您转述地图提供方的以下声明：“因任何人使用地图应用端产生任何问题或事故的，由您自行承担全部责任，地图提供方对此不承担任何责任。”<br />
8.2、您使用该等服务时，应另行与该第三方达成服务协议，支付相应费用并承担可能的风险。海图克不对该等服务提供任何形式的技术支持，如果您需要获取支持，请直接与该第三方联系。因您使用该等服务引发的任何纠纷，由您与该第三方负责解决，海图克不承担任何责任。<br />
8.3、许可软件仅在当前使用或包含该等服务，海图克并不保证许可软件将会永久地使用或包含该等服务，也不保证将来不会使用或包含该第三方的同类型或不同类型的软件或服务或其他第三方的软件或服务，一旦海图克在许可软件中使用或包含前述软件或服务，相应的软件或服务同样适用本条约定。<br />
8.4、您在使用许可软件的同时使用该等服务的，您即授权海图克将您使用许可软件的信息传递给该第三方，或从该第三方获取您注册或使用该等服务时提供或产生的信息。<br />
8.5、您同意，您是否遵循与该第三方约定使用该等服务，是您是否善意履行本协议的条件之一，如果该第三方确认您违反了您与其之间关于使用该等服务的协议约定，海图克有权不需就相关确认与您核实即中止、终止对您的使用许可或采取其他海图克可对您采取的限制措施，且无需承担任何责任。<br />
<br />
第九条：许可使用费<br />
9.1、海图克将根据市场与技术的发展，向您提供与许可软件的各种增值服务。就许可软件及/或增值服务，海图克有权收取许可使用费等相关费用。在开始收费前，海图克将以适当的方式通知您具体收费标准，包括但不限于在海图克网上公示。您有权选择接受或拒绝收费，如果您选择拒绝的，应立即停止使用许可软件及/或增值服务，您继续使用许可软件的，即视为您同意支付相关费用。<br />
9.2、您应在海图克通知的期限内按照海图克接受的方式足额支付许可使用费。您逾期支付许可使用费或支付的费用不足的，海图克有权终止对您的软件许可，并依法追偿损失及/或赔偿。<br />
9.3、您在海图克通知前免费地使用许可软件，不应视为海图克放弃收费的权利，海图克有权随时通知您收取相应费用。<br />
<br />
第十条： 隐私政策与数据<br />
10.1、本协议所指个人隐私信息是指那些能够对您的身份进行有效辨识或涉及到您个人通信的信息，包括您的姓名、身份证号、手机号码、IP地址等，但对于您使用许可软件的状态以及使用习惯等一些反映在海图克服务器端的信息不属此列。<br />
10.2、许可软件不含有任何破坏您苹果终端数据和获取您隐私信息的恶意代码，不会监控您使用苹果终端的行为或泄漏您的个人隐私信息。<br />
10.3、对于您使用许可软件所提供、形成的您的个人隐私信息，海图克会予以保密。除非本协议另有约定，海图克将不会在不通知的情况下透露您的个人隐私信息。<br />
10.4、为以下目的，您授权海图克披露您的个人隐私信息：<br />
10.4.1遵守法律法规或遵照政府部门对海图克所要求的法律程序；<br />
10.4.2保护和维护海图克及其关联公司的合法权益；<br />
10.4.3在紧急情况下保护海图克及其关联公司或其用户或社会大众的安全。<br />
10.5、本协议终止后，海图克有权继续保留您的信息，但海图克没有义务以任何形式向您提供该等信息。<br />
<br />
第十一条：特别授权<br />
11.1、对于使用许可软件时提供的资料及数据信息，您授予海图克及其关联公司独家的、全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)。此外，海图克及其关联公司有权(全部或部分地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其他作品内。<br />
11.2、许可软件在必要时有权使用您的苹果终端处理器和无线网络等资源，用作容许其他许可软件使用者与您联络等目的。此项同意可能会影响您的使用感受和/或带来不可预知的风险，您同意自行承担该等风险。<br />
<br />
第十二条：知识产权<br />
12.1、海图克拥有与许可软件相关的著作权、专有技术、商业秘密以及其他相关的知识产权，包括与许可软件有关的各种文档资料。其他本协议未经提及的权利亦由海图克保留。<br />
12.2、海图克、haituke.com及相关的海图克标识均属于海图克的知识产权，并受到著作权法、商标法和其他知识产权法律的保护。未经授权地复制、模仿、使用或发布上述标识，均被禁止。<br />
12.3、未经海图克事先书面同意，用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权。<br />
<br />
第十三条：合同终止及转让<br />
13.1、在任何情况下，海图克可以随时无须承担任何义务和责任地：<br />
13.1.1、解除本协议；<br />
13.1.2、全部或部分暂停、中止及/或终止履行本协议的义务或提供本协议项下的软件服务。<br />
13.2、许可软件的使用许可可能在下述任一情形下终止：<br />
13.2.1、用户主动终止使用许可软件；<br />
13.2.2、用户违反本协议的约定，且自海图克通知其纠正后仍未纠正的；<br />
13.2.3、其他海图克认为需终止使用许可的情况。<br />
13.3、无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，用户必须完全且独立地承担责任。<br />
13.4、海图克有权将本协议项下的权利义务转让给第三方，而无需征得您的同意。<br />
<br />
第十四条：免责及责任的限制与排除	<br />
14.1、海图克以“现状”、“有缺陷”和“当前功能”的状态提供许可软件。海图克不保证许可软件在操作上不会中断或没有错误，不保证其会纠正许可软件的所有缺陷，亦不保证许可软件能满足用户的所有要求。用户承担所有关于令人满意的质量、性能、准确性的风险。<br />
14.2、在所适用的法律允许的范围内，海图克不做任何明示的或默示的声明，也不给予任何明示的或默示的保证或条件，包括但不限于：<br />
14.1.1、关于适销性、特定用途适用性、准确性和无侵权行为的任何保证或条件；<br />
14.1.2、在交易过程或行业惯例中产生的任何保证或条件；<br />
14.1.3、在访问或使用许可软件时不受干扰、没有错误的任何保证或条件。<br />
14.3、在任何情况下，海图克均不对源于、基于或因本协议或用户使用许可软件而导致的数据的丢失和/或任何损害赔偿负责，包括但不限于非直接的、间接的、特殊的、附带性的或惩罚性的损害赔偿或其他任何形式的损害赔偿，即使海图克已被告知此等损害赔偿的可能性。<br />
14.4、海图克不就电讯系统或互联网的中断或无法运作、技术故障、计算机错误或病毒、信息损坏或丢失或其他在海图克合理控制范围之外的原因而产生的其他任何性质的破坏而向用户或任何第三方承担损害赔偿责任。<br />
<br />
第十五条：法律及争议解决<br />
15.1、本协议适用中华人民共和国法律。<br />
15.2、因双方就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，任何一方均应向海图克住所地有管辖权的人民法院起诉。

        </p>
    </body>
</html>