<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>EasyHome后台初始化</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
		<script type="text/javascript" src="webjars/jquery/1.9.0/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
			<p>
				初始化完成，<a th:href="@{/admin/index}">马上开始</a>
			</p>
			<p>导入失败：</p>
			<p th:text="${failed}">
			</p>
		</div>
    </body>
</html>